#bgPane{
    -fx-background-image: url("../dialog.jpg");
}

/*.text-field {*/
    /*-fx-border-color: white;*/
    /*-fx-border-width: 0 0 1 0; // top, right, bottom, left*/
/*-fx-background-color: transparent;*/
    /*-fx-text-fill: black;*/
/*}*/


