#bgPane {
    -fx-background-image: url("../clean.jpg");
}

.button{
    -fx-background-color: transparent;
}

#homeButton {
    -fx-graphic: url("../logoangkla.png");
    -fx-scale-x: .3;
    -fx-scale-y: .3;
}

#homeButton:hover .image-view {
    -fx-scale-x: 1.2 ;
    -fx-scale-y: 1.2 ;
}


#appButton:hover {
    -fx-scale-x: 1.1 ;
    -fx-scale-y: 1.1 ;
}
#dbButton:hover  {
    -fx-scale-x: 1.1 ;
    -fx-scale-y: 1.1 ;
}
#visButton:hover {
    -fx-scale-x: 1.1 ;
    -fx-scale-y: 1.1 ;
}
#repButton:hover {
    -fx-scale-x: 1.1 ;
    -fx-scale-y: 1.1 ;
}

#realTimeButton{
    -fx-background-color: #37617b;
}

#snapButton{
    -fx-background-color: #37617b;
}

#queryButton{
    -fx-background-color: #37617b;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #006381;

}

.tab-pane .tab:selected
{
    -fx-background-color: #192633;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f1ffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #99ffff;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-shape: "M300,290 L310,168 L410,168 L421,290 L300,290 z";
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #00a7c6;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #003b57;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #005d7a;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #00407e;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}