#homePane {
    -fx-background-image: url("../homeBG.png");
}

.button {
    -fx-opacity: 100;
    -fx-background-color: transparent;
    -fx-color-label-visible: black;
    -fx-scale-x: 0.035 ;
    -fx-scale-y: 0.035 ;
}

.button:hover .image-view{
    -fx-scale-x: 1.2 ;
    -fx-scale-y: 1.2 ;
}

#appButton {
    -fx-graphic: url("../Applicationdark.png");
}
#dbButton {
    -fx-graphic: url("../Databasedark.png");
}
#visButton {
    -fx-graphic: url("../Visualdark.png");
}
#repButton {
    -fx-graphic: url("../Reportdark.png");
}

