#bgPane {
    -fx-background-image: url("../raster.png");
}

#detailPane{
    /*-fx-background-color: #003144;*/
    -fx-background-color: ghostwhite;
    -fx-border-color: #003366;
}

.button{
    -fx-background-color: transparent;
}

#searchBtn{
     -fx-graphic: url("../searchW.png");
}

#updateBtn{
    -fx-graphic: url("../updateW.png");
}

#searchBtn:hover .image-view{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#updateBtn:hover .image-view{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#appButton{
    -fx-graphic: url("../App.png");
    -fx-scale-x: .35;
    -fx-scale-y: .35;
    -fx-opacity: 100;
}

#dbButton{
    -fx-graphic: url("../database.png");
    -fx-scale-x: .35;
    -fx-scale-y: .35;
    -fx-opacity: 100;
}

#visButton{
    -fx-graphic: url("../visual.png");
    -fx-scale-x: .35;
    -fx-scale-y: .35;
    -fx-opacity: 100;
}

#repButton{
    -fx-graphic: url("../doc.png");
    -fx-scale-x: .35;
    -fx-scale-y: .35;
    -fx-opacity: 100;
}

#searchButton{
    -fx-graphic: url("../searhcB.png");
    -fx-scale-x: .09;
    -fx-scale-y: .09;
}

#homeButton {

    -fx-graphic: url("../cpalogo.png");
    -fx-scale-x: .05;
    -fx-scale-y: .05;
}

#homeButton:hover .image-view {
    -fx-scale-x: 1.2 ;
    -fx-scale-y: 1.2 ;
}

#appButton:hover {
    -fx-scale-x: .4 ;
    -fx-scale-y: .4 ;
}
#dbButton:hover  {
    -fx-scale-x: .4 ;
    -fx-scale-y: .4 ;
}
#visButton:hover {
    -fx-scale-x: .4 ;
    -fx-scale-y: .4 ;
}
#repButton:hover {
    -fx-scale-x: .4 ;
    -fx-scale-y: .4 ;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: #003366;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #003144;
    /*#003144*/
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #f8ffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #cbd3df;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #00407e;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.text-field {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0; // top, right, bottom, left
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

#searchField{
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0; // top, right, bottom, left
    -fx-text-fill: white;
    -fx-background-color: transparent;
}
/*
.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
*/

.scroll-bar{
    -fx-background-color: #003144;
}

